/* ЗАДНИЙ ФОН */
html, body {
  background-image: url('images/bg.png'); /* путь к твоей картинке */
  background-size: cover; /* чтобы растягивалась на весь экран */
  background-position: center; /* центрировать */
  background-repeat: no-repeat; /* не повторять */
  background-attachment: scroll; /* фон остается при скролле */
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px; /* базовый размер шрифта */
}

/* ЗАГРУЗОЧНЫЙ ЭКРАН */
#overlayer { 
  width: 100%;
  height: 100%;  
  position: fixed;
  z-index: 20;
  background: #a30b0b;
  display: flex;
  justify-content: center;
  align-items: center; /* выравнивание крутилки по центру */
}
.loading-text {
  font-family: 'Montserrat', sans-serif; 
  font-size: 2rem; 
  color: white;
  font-weight: 700;
}

/* ЗАГОЛОВОК И ИКОНКА ВК */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4rem;  
  padding-left: 3rem;  
  padding-top: 2rem;   
  background-color: transparent;
}

.logo h2 {
  font-size: 3rem;  
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: #fff;
  margin: 0;
}

.social-block a {
  color: #fff;
  font-size: 2rem; 
  text-decoration: none;
}

a {
  text-decoration: none;
}

#text_on_picture {
  padding-top: 7rem;  
  padding-left: 1rem; 
  margin: 0.5rem;       
  font-size: 3.4rem;    
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: #fff;
  text-align: left;
  width: 90%;
}

.about_band h2 {
  padding-top: 19rem;   
  padding-left: 2rem; 
  font-size: 3.5rem; 
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: #000000;
  text-align: left;
}
