/* ЗАДНИЙ ФОН */
html, body {
  background-image: url('images/bg.png'); /* путь к твоей картинке */
  background-size: cover; /* чтобы растягивалась на весь экран */
  background-position: center; /* центрировать */
  background-repeat: no-repeat; /* не повторять */
  background-attachment: scroll; /* фон остается при скролле */
  height: 100%;
  margin: 0%;
  padding: 0%;
}

/* ЗАГРУЗОЧНЫЙ ЭКРАН */
#overlayer { 
  width:100%;
  height:100%;  
  position:fixed;
  z-index:20;
  background:#a30b0b;
  display: flex;
  justify-content: center;
  align-items: center; /*Это выравнивает крутилку по центру экрана*/
  /* Это фон на котором будет крутиться крутилка*/
}
  .loading-text {
  font-family: 'Montserrat', sans-serif; /* Здесь можно поменять шрифт загрузочного текста */
  font-size: 200%;
  color: white;
  font-weight: 700;
}

/* ЗАГОЛОВОК И ИКОНКА ВК */

/* Это в целом задает расопложение заголовка и иконки ВК */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4%;
  padding-left: 3%;
  padding-top: 2%;
  background-color: transparent;
}

/* Это отдельно задает стиль заголовка */
.logo h2 {
  font-size: 300%;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: #fff;
  margin: 0;
}

/* Это задает стиль иконки ВК */
.social-block a{
  color: #fff; /* цвет иконки белый */
  font-size: 2em; /* размер иконки */
  text-decoration: none; /* убрать подчеркивание */
}

/* Убирает подчеркивание ссылки */
a {
  text-decoration: none;
}

#text_on_picture {
  padding-top: 10%;
  padding-left: 2%;
  margin: 2%;
  font-size: 340%;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: #fff;
  text-align: left;
  width: 90%; /* чтобы текст не вылезал за край */
}

.about_band h2 {
  padding-top: 20%;
  padding-left: 2%;
  font-size: 350%;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: #000000;
  text-align: left;
}
